extends base

block contents 
    if errMsg 
        span=errMsg
    form(method="POST")
        input(name="old" type="password" required placeholder="Old Password")
        input(name="new1" type="password" required placeholder="New Password" minlength="8")
        input(name="new2" type="password" required placeholder="Password Confirmation" minlength="8")
        input(type="submit" value="Save")