header
  h1=pageTitle
  nav 
      ul 
        li 
          a(href="/") Home
        li
          a(href="/search") Search
      ul    
        if loggedIn
          li 
            a(href=`/user/${loggedInUser._id}`) #{loggedInUser.username}의 Profile
          li
            a(href="/video/upload") Upload
          li 
            a(href="/logout") Log Out 
        else
          li 
            a(href="/join") Join
          li 
            a(href="/login") Log In   